<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Pinegrow Web Editor - Shop Bootstrap v5 Template">
        <meta name="author" content="">
        <title>Customer Name - Blog</title>
        <!-- Bootstrap core CSS -->
        {% include 'pages/common/head_assets.twig' %}
        <link rel="stylesheet" href="/assets/css/blocks.css" >
    </head>
    <body class="fw-light text-secondary">
        {% include 'pages/common/top_menu_panel.twig' %}
        {% include 'pages/common/top_flash_messages.twig' %}
        
        <div class="bg-dark pt-2 text-white">
            <div class="d-flex pb-5 pt-4 vstack">
                <div>
                    <div class="d-flex flex-row justify-content-start p-5 align-items-center">
                    		<div class="p-3">
                				<h3>Categoria :</h3>
    	        			</div>
                			<div class="p-3">
                				<img src="{{ post.category.my_image_url }}" class="img-fluid" width="200" />
                			</div>
                			<div class="vr"></div>
                        	{% for immagine in post.immagini_list %}
                            <div class="col-lg-3 col-md-4 col-sm-6 p-1">
                                <a class="link-primary" href="{{ immagine.attachment.my_original_image_url }}" target="_blank"><img src="{{ immagine.attachment.my_preview_image_url }}" /></a>
                            </div>
                            {% else %}
                            
                            {% endfor %}
                        
                    </div>
                    <div class="container d-flex hstack">
                        <div class="p-2">
                            <h2>{{ post.titolo }}</h2>
                        </div>
                        {% if post.link_video %}
                        <div class="p-2">
                            <a href="{{ post.link_video }}" target="_blank"><i class="bi bi-play-btn-fill display-6"></i></a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="p-3">
                        <p>{{ post.testo }}</p>
                    </div>
                    <div class="p-3">
                    	<div class="container vstack">
                    		{% for comment in post_comments %}
                    		{% include 'pages/common/comment.twig' with { admin : true} %}
                    		{% else %}
                    		<h4>Non ci sono ancora commenti! Scrivi tu il primo!</h4>
                    		{% endfor %}
                            <div class="p-3">
                            <div class="border border-warning border-3 rounded-3">
                                <p>
                                    <h5><i class="fa fa-info-circle p-3"></i>Stai aggiungendo commenti come amministratore :)</h5>
                                </p>
                                </div>
                            </div>
                    		{% include  'pages/backend/form_commenti_admin.twig' with {admin : true} %}
                    	</div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-dark pt-2 text-white">
            <div class="container"> 
                <div class="pb-3 pt-3 small"> 
                    <hr class="border-secondary mt-0"> 
                    <div class="align-items-center row">
                        <div class="col-md pb-2 pt-2">
                            <p class="mb-0">Realizzato nel 2022-2023 | Powered by MBCRAFT</p>
                        </div>
                    </div>                     
                </div>                 
            </div>
        </footer>
        {% include 'pages/common/notification_pixel.twig' %}
    </body>
</html>
